* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.stripes {
  font-size: 12vw;
  overflow: hidden;
  color: white;
  background-color: aqua;
  font-family: "Ultra", serif;
  font-weight: 400;
  margin-bottom: 8vw;
  z-index: 0;
}
.runner1 {
  width: 60vw;
  height: auto;
  position: absolute;
  top: 10vw;
  z-index: 1;
}
nav {
  height: 5vw;
  background-color: red;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
a {
  font-size: 2vw;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.nava {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 93vw;
}
.ikona {
  width: 4vw;
  height: auto;
  margin-left: 3vw;
}
h2 {
  font-size: 5vw;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}
p {
  font-size: 40px;
  font-family: "Lexend", sans-serif;
}
.window2 {
  padding: 10vw 8vw;
  padding-top: 30vw;
  background-color: #26355d;
  position: sticky;
  z-index: 2;
}
.marquee {
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  white-space: nowrap;
  display: flex;
  position: relative;
  height: 6vw;
  align-items: center;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  z-index: 4;
}

.marquee-content {
  display: inline-block;
  animation: scroll-continuous 10s linear infinite;
  font-size: 5vw;
  margin-right: 1vw;
  overflow: hidden;
}
@keyframes scroll-continuous {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.scroll {
  padding: 3vw 0;
  background-color: black;
  z-index: 3;
  position: absolute;
  overflow: hidden;
}
.p1 {
  margin-bottom: 10vw;
}
.images {
  background: rgb(0, 255, 113);
  background: linear-gradient(
    0deg,
    rgba(0, 255, 113, 1) 0%,
    rgba(48, 181, 208, 1) 51%,
    rgba(38, 53, 93, 1) 95%
  );
  position: sticky;
  z-index: 2;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
}
.images img {
  height: 20vw;
  width: 34vw;
  object-fit: cover;
}
.space {
  margin-bottom: 10vw;
}
.slash .scroll {
  background-color: #00ff71;
}
.slash .marquee {
  background-color: rgba(0, 0, 0, 0);
  height: 20vw;
}
.slash .marquee-content {
  font-family: "Ultra", serif;
  font-size: 50vw;
  animation: scroll-continuous 100s linear infinite;
}
.glass {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(14.9px);
  border: 1px solid rgba(255, 255, 255, 0.43);
  height: 50vw;
  width: 50vw;
  position: absolute;
  z-index: 5;
  top: 10vw;
}
