* {
  margin: 0;
  padding: 0;
}
.stripes {
  font-size: 12vw;
  overflow: hidden;
  color: white;
  background-color: aqua;
  font-family: "Ultra", serif;
  font-weight: 400;
  margin-bottom: 8vw;
}
.runner1 {
  width: 60vw;
  height: auto;
  position: absolute;
  top: 10vw;
}
nav {
  height: 5vw;
  background-color: red;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
a {
  font-size: 2vw;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.nava {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 93vw;
}
.ikona {
  width: 4vw;
  height: auto;
  margin-left: 3vw;
}
h2 {
  font-size: 5vw;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}
p {
  font-size: 40px;
  font-family: "Lexend", sans-serif;
}
.window2 {
  padding: 10vw 8vw;
  background-color: #26355d;
  padding-bottom: 1000px;
}
.band {
  width: 100vw;
  height: 10vw;
  background-color: black;
  z-index: 100000000000000000000;
  position: relative;
}
.scrolling-text {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}

.scrolling-text span {
  font-size: 24px; /* Adjust text size */
  padding-left: 100%; /* Space between repetitions */
}

/* Keyframes for scrolling effect */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
